<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/cine"
        android:label="MedelliMovie"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="Cartelera" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="InfoPelicula"
            android:label="Detalles de la Pelicula"
            android:icon="@drawable/detalles"
            >                        
        </activity>
        <activity 
            android:name="Video" 
            android:label="Trailer de la Pelicula"
            android:icon="@drawable/trailer">
        </activity>
        <activity 
            android:name="CinemasActivity" 
            android:label=""
            android:icon="@drawable/cinemas2">
            
        </activity>
    </application>

</manifest>

